/* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|2|3|4,1.5|2|3|4|6,s-l&g=s%2Cl%2Cxl%2C12,l,xl,12 */
:root {
    --size--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
    --size--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
    --size-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --size-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
    --size-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
    --size-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
    --size-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
    --size-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);

    --default-margin: 1rem;
    --default-padding: 1rem;
    --slight-margin: 0.5rem;
    --slight-padding: 0.5rem;
    --default-width: 100%;
    --default-max-width: 100%;
    --default-height: 100%;
    --default-max-height: 100%;
    --default-gap: 0.5rem;
    --footer-margin: 0.5rem;
    --footer-padding: 0.5rem;
    --default-main-width: 67.5rem;
    --error-color: red;
}

.theme-dark {
    --surface-1: #121212;
    --surface-2: #282828;
    --surface-3: #3f3f3f;
    --surface-4: #575757;
    --surface-5: #717171;
    --surface-6: #8b8b8b;
    --primary-1: #8bf2a3;
    --primary-2: #9af4ad;
    --primary-3: #a8f6b7;
    --primary-4: #b5f7c2;
    --primary-5: #c2f9cc;
    --primary-6: #cffad6;
    --secondary-1: #F28BDA;
    --tonal-1: #1e251f;
    --tonal-2: #333934;
    --tonal-3: #494f4a;
    --tonal-4: #606661;
    --tonal-5: #797e79;
    --tonal-6: #929693;
    --primary-text: white;
    --error-color: #E57373;
    --keyword-color: #ef3b7d;
    --variable-color: #76d9e6;
    --string-color: #e6d06c;
    --operation-color: #a77afe;
    --tag-color: #74d67e;
    --attribute-color: #5e95c6;
    --value-color: #a5d6ff;
}


.theme-light {
    --surface-1: #f2f2f2;
    --surface-2: #e5e5e5;
    --surface-3: #e1e1e1;
    --surface-4: #cbcbcb;
    --surface-5: #bebebe;
    --surface-6: #b1b1b1;
    --primary-1: #13b1d5;
    --primary-2: #37accb;
    --primary-3: #49a6c2;
    --primary-4: #57a1b8;
    --primary-5: #619bae;
    --primary-6: #6996a5;
    --secondary-1: #D53713;
    --tonal-1: #fff7fb;
    --tonal-2: #f0e9ed;
    --tonal-3: #e1dbde;
    --tonal-4: #d3ced0;
    --tonal-5: #c5c0c2;
    --tonal-6: #b6b3b5;
    --primary-text: black;
    --error-color: #D32F2F;
    --keyword-color: #51c1e6;
    --variable-color: #9a050f;
    --string-color: #e3116c;
    --operation-color: #000;
    --tag-color: #306df1;
    --attribute-color: #e24c3f;
    --value-color: #b02013;
}

/* @link https://fonts.google.com/specimen/Lato */
@font-face {
    font-family: Lato;
    src: url("../fonts/lato-regular.ttf");
}

/* @link https://fonts.google.com/specimen/Merriweather */
@font-face {
    font-family: Merriweather;
    src: url("../fonts/merriweather-regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: var(--default-main-width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header" "body" "footer";
}

body {
    background-color: var(--surface-1);
    color: var(--primary-text);
    font-family: Merriweather, 'Times New Roman', Times, serif;
    font-size: var(--size-1);
}

header {
    background-color: var(--surface-2);
    font-size: var(--size-2);
}

header > hgroup { 
    margin: var(--default-margin);
    padding: var(--default-padding);
    font-family: Lato, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: var(--size-5);
    color: var(--primary-text);
}

h2 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: var(--size-3);
}

h3 {
    font-family: Lato, Arial, Helvetica, sans-serif;
    font-size: var(--size-2);
}

nav {
    margin: var(--default-margin);
    padding: var(--default-padding);
    gap: var(--default-gap);
    color:  	var(--primary-text);
}

nav > a {
    padding: var(--default-padding);
    color:  	var(--primary-text);
    text-decoration: none;
}

nav > a:hover {
    color: var(--primary-1);
}

theme-section {
    display: flex;
    margin: 0.5rem;
    padding: 0.5rem;
    align-items: center;
}

theme-section > select {
    margin: 0.5rem;
    padding: 0.2rem;
    text-align: center;
}

footer {
    padding: 0.2rem;
    background-color: var(--surface-2);
    font-size: var(--size--1);
    text-align: center;
}

footer > address, footer > p {
    margin: var(--footer-margin);
    padding: var(--footer-padding);
}

a {
    color: var(--primary-1);
}

a:hover {
    color: var(--primary-6);
}

button {
    background-color: var(--surface-2);
    border: var(--primary-1) 1px solid;
    color: var(--primary-text);
}

button:hover {
    background-color: var(--surface-3);
    color: var(--primary-1);
}

hr, br {
    display: none;
}

.keyword {
    color: var(--keyword-color);
    font-style: italic;
}

.string {
    color: var(--string-color);
}

.variable {
    color: var(--variable-color);
}

.operation {
    color: var(--operation-color);
}

.tag {
    color: var(--tag-color);
}

.attribute {
    color: var(--attribute-color);
}

.value {
    color: var(--value-color);
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: var(--size-3);
    }

    header {
        display: grid;
        grid-template-columns: 1fr 10dvw;
        position: sticky;
        top: 0;
        z-index: 3;
    }

    header hgroup {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    nav {
        font-family: Lato, Arial, Helvetica, sans-serif;
        display: flex;
        flex-flow: column;
        overflow: hidden;
        padding-top: 0;
        max-height: 0;
        transition: max-height 0.2s ease-out;
    }

    nav > a {
        pointer-events: none;
    }

    menu-button {
        margin: var(--default-margin);
        width: 5dvw;
        height: 5dvh;
        justify-self: flex-end;
    }

    input#menuButton {
        display: none;
    }

    label[for=menuButton] > svg {
        cursor: pointer;
        user-select: none;
        width: var(--default-width);
        max-width: var(--default-max-width);
        fill: var(--primary-1);
        transition: transform 0.2s ease-out;
    }

    menu-button:has(#menuButton:checked) ~ nav{
        max-height: var(--default-max-height);
    }

    menu-button:has(#menuButton:checked) ~ nav > a{
        pointer-events: auto;
    }

    #menuButton:checked ~ label > svg {
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 769px) {
    menu-button {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    nav {
        font-family: Lato, Arial, Helvetica, sans-serif;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

@media screen and (min-width: 1281px) {
    header {
        display: flex;
        justify-content: space-between;
    }

    nav {
        font-family: Lato, Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}