@media (prefers-color-scheme: light) {
    :root {
        --surface-1: #f2f2f2;
        --surface-2: #e5e5e5;
        --surface-3: #e1e1e1;
        --surface-4: #cbcbcb;
        --surface-5: #bebebe;
        --surface-6: #b1b1b1;
        --primary-1: #13b1d5;
        --primary-2: #37accb;
        --primary-3: #49a6c2;
        --primary-4: #57a1b8;
        --primary-5: #619bae;
        --primary-6: #6996a5;
        --secondary-1: #D53713;
        --tonal-1: #fff7fb;
        --tonal-2: #f0e9ed;
        --tonal-3: #e1dbde;
        --tonal-4: #d3ced0;
        --tonal-5: #c5c0c2;
        --tonal-6: #b6b3b5;
        --primary-text: black;
        --error-color: #D32F2F;
        --keyword-color: #51c1e6;
        --variable-color: #9a050f;
        --string-color: #e3116c;
        --operation-color: #000;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --surface-1: #121212;
        --surface-2: #282828;
        --surface-3: #3f3f3f;
        --surface-4: #575757;
        --surface-5: #717171;
        --surface-6: #8b8b8b;
        --primary-1: #8bf2a3;
        --primary-2: #9af4ad;
        --primary-3: #a8f6b7;
        --primary-4: #b5f7c2;
        --primary-5: #c2f9cc;
        --primary-6: #cffad6;
        --secondary-1: #F28BDA;
        --tonal-1: #1e251f;
        --tonal-2: #333934;
        --tonal-3: #494f4a;
        --tonal-4: #606661;
        --tonal-5: #797e79;
        --tonal-6: #929693;
        --primary-text: white;
        --error-color: #E57373;
        --keyword-color: #ef3b7d;
        --variable-color: #76d9e6;
        --string-color: #e6d06c;
        --operation-color: #a77afe;
    }
}